<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>

    <environment names="Development">
        <link href="~/lib/animate.css/animate.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/lib/components-font-awesome/css/font-awesome.min.css" />
        <link href="~/lib/growl/stylesheets/jquery.growl.css" rel="stylesheet" />
        <link href="~/lib/seiyria-bootstrap-slider/dist/css/bootstrap-slider.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css"/>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>*@
                    <li><a href="/"><i class="fa fa-key"></i> Key Ring</a></li>
                    <li><a href="/#settings"><i class="fa fa-cogs"></i> Settings</a></li>
                    <!-- ko with: ticker -->
                    <li><a href="/#exchange">BTC/USD <i class="text-success fa fa-arrow-up"></i> <span data-bind="text:last"></span></a></li>
                    <!-- /ko -->
                </ul>
            </div>
        </div>
    </div>
<div class="container body-content">
    <div class="row" style="padding: 0 20px;">
        <!-- ko with: balance -->
        <h2 class="animated fadeIn" style="display: table-cell; padding: 10px;position: relative">
            <span data-bind="text:confirmed + ' &#579'"></span><br />
            <span data-bind="visible:unconfirmed !== 0, text:unconfirmed + ' &#579'" class="text-danger" style="position: absolute; z-index: 9999; font-size: 14px; right: 0;line-height: 0.5;"></span>
        </h2>
        <h2 title="" data-bind="visible:true, text:' ~' + (confirmed * ($parent.ticker() ? $parent.ticker().last : '')).toFixed(0) + ' $'" class="invisible5" style="display: table-cell"></h2>
        <!-- /ko -->
    </div>
    @*<div class="row">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
                 data-bind="text:progress()  + '%',attr:{style:'width:' + progress() + '%', 'aria-valuenow':progress()}">
            </div>
        </div>
    </div>*@
    @RenderBody()
    @RenderSection("views", required: true)
    
    <footer class="invisible5 navbar navbar-fixed-bottom" style="padding: 20px; background-color: #fff">
        <hr />
        <p>&copy; 2016 - Codrsband Ltd.</p>
    </footer>
</div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/bootstrap3-typeahead/bootstrap3-typeahead.min.js"></script>
        <script src="~/lib/growl/javascripts/jquery.growl.js"></script>
        <script src="~/lib/seiyria-bootstrap-slider/dist/bootstrap-slider.min.js"></script>
        <script src="~/lib/knockout/dist/knockout.js"></script>
        <script src="~/lib/knockout.mapping/build/output/knockout.mapping-latest.js"></script>
        <script src="~/lib/sammy/lib/sammy.js"></script>
        <script src="~/lib/bootbox.js/bootbox.js"></script>
        <script src="~/lib/moment/moment.js"></script>
        <script src="~/lib/kjua/dist/kjua.min.js"></script>
        <script src="~/js/core/extentions.js"></script>
        <script src="~/js/core/components.js"></script>   
        <script src="~/js/core/controller.js"></script>
        <script src="~/js/app/datamodel.js"></script>
        <script src="~/js/app/appviewmodel.js"></script>
        <script src="~/js/app/websockets.js"></script>
        <script src="~/js/core/viewmodel.js"></script>
        <script src="~/js/content/home.viewmodel.js"></script>
        <script src="~/js/content/wallet.viewmodel.js"></script>
        <script src="~/js/app/_run.js"></script>
        
        @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>
</html>
