<!-- ko with: wallet -->
<div class="row animated fadeIn" data-bind="visible:$parent.view() == $data" style="display: none">
    <div class="col-md-12" data-bind="visible:state() === 'InProgress'">
        <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" 
                 data-bind="text:progress()  + '%',attr:{style:'width:' + progress() + '%', 'aria-valuenow':progress()}">
            </div>
        </div>
    </div>
    <div class="col-md-12" data-bind="visible:state() === 'Ready'">
        
        <div class="row">
            <div class="col-lg-3">

                </div>
            <div class="col-lg-9">
                <div class="row" style="min-height: 52px">
                    <!-- ko with: balance -->
                    <h2 data-bind="text:confirmed + ' &#579'" style="display: table-cell; padding: 10px;"></h2>
                    <h6 title="unconfirmed" data-bind="visible:unconfirmed > 0, text:unconfirmed + ' &#579'" class="text-danger" style="display: table-cell"></h6>
                    <!-- /ko -->
                </div>
            </div>

        </div>
        <div class="row">
            
            <div class="col-lg-3">
                <div class="row">
                    <div data-bind="qrcode:address"></div>
                </div>
            </div>
            <div class="col-lg-9">

                <span data-bind="visible:loading"><i class="fa fa-spinner fa-spin"></i></span>

                <div class="row">
                    
                    <form role="form" class="form-horizontal" id="form-sending">
                        <div class="form-body">

                            <!-- ko with: payTo -->
                            @*<h3 class="form-section"></h3>*@
                            <div class="form-group">
                                <label class="col-md-4 control-label input-lg">Pay to</label>
                                <div class="col-md-8">
                                    <input placeholder="type address or name" maxlength="64" required="" class="form-control input-lg" autocomplete="off" type="text"  data-provide="typeahead"
                                           data-bind="value:address, attr:{'data-source': $parent.addressBook}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label input-lg">Amount to pay</label>
                                <div class="col-md-8">
                                    <input min="0.00000001" max="100000000" step="1" required="" data-bind="value:amount" class="form-control input-lg" type="number">
                                </div>
                            </div>

                            @*<div class="form-group">
                                <label class="col-md-4 control-label"></label>
                                <div class="col-md-8">
                                    <input min="0" step="1" required="" data-bind="value:0" placeholder="" class="form-control input-medium" type="number">
                                </div>
                            </div>*@

                            <!-- /ko -->

                        </div>
                        <div class="form-actions">
                            <button type="button" class="btn btn-default" data-bind="click:function(){}">Cancel</button>
                            <button type="submit" class="btn btn-info" data-bind="click:send"> <i class="fa fa-spinner fa-spin" data-bind="visible:sending"></i>&nbsp;&nbsp;Send&nbsp;&nbsp;</button>
                        </div>

                    </form>

                </div>

            </div>

        </div> 
        
    </div>

</div>
<!-- /ko -->
