<!-- ko with: wallet -->
<div class="row animated fadeIn" data-bind="visible:$parent.view() == $data" style="display: none">
    <div class="col-md-12">
        
        <div class="row">
            <div class="col-lg-3">
                
            </div>
            <div class="col-lg-9">
                <h3></h3>
                <span data-bind="visible:loading"><i class="fa fa-spinner fa-spin"></i></span>

               

            </div>

        </div> 
        
    </div>

</div>
<!-- /ko -->
