body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.invisible5 {
    opacity: 0.5;
    color: #ddd;
}

.opacity5 {
    opacity: 0.5
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
}

.navbar {
    border-left: none !important;
    border-radius: 0;
    border-right: none !important;
    background-color: #fff;
}

    .navbar a {
        margin: 0 2px;
       
    }

.btn, .input-lg {
    border-radius: 0;
}

.navbar-default {
    border: none;
    padding: 1px;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
    outline: none;
   
    text-decoration: none;
    background-color: transparent;
}

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
   
    text-decoration: none;
    border-color: #ccc;
}


.navbar-fixed-top {
    background-color: #fff;
}

.buy-sell-orders {
    padding: 15px;
}

.buy-sell-orders header {
    padding: 10px 5px;
}

.title {
    font-family: "Open Sans","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
    color: #436fa3;
    z-index: 2;
    font-weight: normal;
    font-size: 16px;
}

.title-label {
    font-family: "Open Sans","Lucida Grande",Verdana,Arial,Helvetica,sans-serif;
    z-index: 2;
    font-weight: normal;
    font-size: 15px;
}

.buy-sell-orders span.pull-right {
    margin-top: 5px;
    font-size: 12px;
}

.buy-sell-orders table {
    width: 60em;
    overflow-x: visible;
}

    .buy-sell-orders table thead {
        display: block;
    }

    .buy-sell-orders table tbody {
        display: block;
        height: 400px;
        overflow-y: scroll;
        width: 104%;
    }

        .buy-sell-orders table thead th, .buy-sell-orders table tbody td {
            width: 15em;
        }

.buy-sell-orders tr.active {
    color: #2380c7;
    background: #f4f4f4;
}

table {
    table-layout: fixed;
    width: 100%;
    word-wrap: break-word;
}

.table-bordered {
    border: none;
}

    .table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
        border-bottom: none;
    }

.table > thead > tr:first-child > th, .table > tbody > tr:first-child > td {
    border-left: none;
}

.table > thead > tr:first-child th:last-child, .table > tbody > tr td:last-child {
    border-right: none;
}

@keyframes animatedBackground {
    from {
        background-color: #dff0d8;
    }

    to {
        background-color: inherit;
    }
}

.animated-background {
    animation: animatedBackground 1s linear;
}

/* validation */

.fieldContainer {
    position: relative;
}

label.error {
    /*font-weight: normal;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 9999;*/
    display: none !important;
}

.field-validation-error, .error {
    color: #e4686a !important;
}

.validation-summary-errors {
    color: #e4686a !important;
}

input.error {
    border: 1px solid #e4686a !important;
    background-color: #fee !important;
}

/* slider*/
.slider-selection.tick-slider-selection {
    background-image: linear-gradient(to bottom, #e7e7e7 0px, #e7e7e7 100%);
}

.slider-tick.in-selection {
    background-image: linear-gradient(to bottom, #e7e7e7 0px, #e7e7e7 100%);
}

.slider-selection {
    background-image: linear-gradient(to bottom, #f9f9f9 0px, #f5f5f5 100%);
}

.slider-handle {
    background-color: #333333;
    background-image: none;
    cursor: pointer;
}

.slider {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -o-user-select: none;
}